*{
	margin: 0;
	padding-bottom: 0;
	box-sizing: border-box;
	/*background-color: #222;*/
}

body{
	width: 100%;
	height: 100%;
	overflow-x: hidden; 
	overflow-y: auto; 
	font: 2.4vh/4.8vh;
}

nav {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 2px solid #ebecf1;
  border-radius: 30px;
  font-family: sans-serif;
  /*text-align: center center;*/
}

ul {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
}

img.hometop{
	display: inline-block;
	width: 35px;
	height: 35px;
}

img.hometop:hover {
	background-color: grey;
	transition: translate(+50%);
	padding:2px;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	transition: 0.2s;
}

  
li {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  transition: background 0.2s;
  text-align: center;
  margin: auto;
}
   
    
a{
  color: #2375d8;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}

a:hover{
  color: #98c2f5;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}


img#selfie{
	width: 250px;
	height: 250px;
	/*position: relative; left: 100px; top: 50px;*/
	border-radius: 50%;
	background-color: #98c2f5;
	float: left;
	shape-outside: circle(100px, 100px,100px);
	padding: 20px;
	border: 20px;
	margin: 20px;

}

div:nth-of-type(2){
	width: 900px;
	height: 320px;
	background-color: #98c2f5;
	text-align: justify;
	padding-left: 140px;
	padding-right: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	border-radius: 45px;
	/*border:10px solid #98c2f5;*/
}

div:nth-of-type(3){
	width: 900px;
	height: 320px;
	background-color: #d3b6fa;
	text-align: justify;
	border-radius: 45px;
	padding: 20px;
}

