* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: sans-serif;
	font-size: 2.4vh;
	font-weight: bold;
}

article {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; /*nowrap不會自動換行*/ /*wrap會自動換行*/
	align-content: center;
}

article > section {
}

article > section > img {
	padding: 5px;
	background-color: grey;
	font-size: 2.4vh;
	justify-content:center;
	align-content: space-around;
}

@media only screen and (min-width: 1200px) {
	body{

	}

	article{
		flex-direction: row;/*justify-content column垂直排版 row水平排版*/
	}

	article > section {
		height: 100%;
		width: 30%;

	}
}